@import "tailwindcss";

.bgImg {
    background: red;
    background-image: url("../../public/Img/img4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
}